

<%= bootstrap_form_for(Recipe.new, url: recipes_path, method: :create, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-4") do |f|%>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= f.text_field :name, hide_label: true, placeholder: 'Recipe name...', value: @last_search %>
  <br>
  <%= f.select :item_id, Item.where(itemLevel: (100..1000)).map{|q| [q.name, q.id]}, {label: 'Product:'}, {class: 'chosen-select'} %>
  <br>
  <%= f.select :ingredients, Item.where(itemLevel: (100..1000)).map{|q| [q.name, q.id]}, {label: 'Ingredients:'}, {multiple: true, class: 'chosen-select'} %>


  <%= f.submit 'Create', class: 'btn btn-primary' %>
<% end %>

<script type="text/javascript">
  
  $('.chosen-select').chosen()
</script>