<table class='ingredients-table-<%= recipe.id %>'>
  <% ingredients.each do |i| %>
  <tr class='prices'>
    <td style='padding: 1px 5px; width: 210px;''>
      <img src="https://wow.zamimg.com/images/wow/icons/small/<%= i.item.icon %>.jpg"> 
      <%= link_to i.item.name, i.item %> 
    <td style='padding: 1px 2px; text-align: right; width: 45px;' class='price'>
      <span class='price-gold-pending-<%=i.item.id%> money-gold'><i class="fa fa-spinner fa-spin"></i></span>
    <td style='padding: 1px 1px; text-align: right; width: 25px;' class='price'>
      <span class='price-silver-pending-<%=i.item.id%> money-silver'></span>
    <td style='padding: 1px 5px; width: 5px;'>x
    <td style='padding: 1px 1px; text-align: right; width: 10px;' class='count'>
      <%= i.count %>
    <td style='padding: 1px 5px; text-align: right'>
      =

    <td style='padding: 1px 2px; text-align: right; width: 45px;' class='price-mul'>
      <span class='money-gold'><i class="fa fa-spinner fa-spin"></i></span>
    <td style='padding: 1px 1px; text-align: right; width: 25px;' class='price-mul'>
      <span class='money-silver'><i class="fa fa-spinner fa-spin"></i></span>

  <% end %>

  <tr class='sum'>
    <td style='padding: 1px 5px;''>
    <td colspan=5>

    <td style='padding: 1px 2px; text-align: right; border-top: 1px black dotted;'>
      <span id='price-gold' class='money-gold'><i class="fa fa-spinner fa-spin"></i></span>
    <td style='padding: 1px 1px; text-align: right; border-top: 1px black dotted;'>
      <span id='price-silver' class='money-silver'></span>

  <tr class='item'>
    <td style='padding: 1px 5px; width: 210px;''>
      <img src="https://wow.zamimg.com/images/wow/icons/small/<%= item.icon %>.jpg"> 
      <%= link_to item.name, item %> 
    <td colspan=4>
    <td> - 
    <td style='padding: 1px 2px; text-align: right; width: 45px;'>
      <span class='price-gold-pending-<%=item.id%> money-gold'><i class="fa fa-spinner fa-spin"></i></span>
    <td style='padding: 1px 1px; text-align: right; width: 25px;'>
      <span class='price-silver-pending-<%=item.id%> money-silver'></span>

  <tr class='result'>
    <td colspan=6>

    <td style='padding: 1px 2px; text-align: right; width: 45px; border-top: 1px black dotted;'>
      <span class='money-gold' style='font-weight: bold;'>-</span>
    <td style='padding: 1px 1px; text-align: right; width: 25px; border-top: 1px black dotted;'>
      <span class='money-silver' style='font-weight: bold;'></span>

</table>