<h1>Editing Recipe</h1>

<%= bootstrap_form_for(@recipe, url: recipe_path, method: :put, 
  layout: :inline, remote: true) do |f|%>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= f.hidden_field :id, value: @recipe.id.to_s %>
  <%= f.text_field :name, placeholder: 'Recipe name...' %>
  <%= f.text_field :tag, placeholder: 'Tag..' %>
  <span class='submit_status'></span>
  <%= f.submit 'Create', class: 'btn btn-primary', style: 'display: none;' %>
<% end %>
<br>


<%= @recipe.ingredients.each do |i| %>
  <%= bootstrap_form_for(i, url: recipe_path, method: :put, 
    layout: :inline, remote: true) do |f|%>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= f.hidden_field :id, value: i.id.to_s %>
  <%= f.text_field :count, label: i.item.name, placeholder: 'count' %>

  <%= f.submit 'Save', class: 'btn btn-primary', style: 'display: none;' %>
  <span class='submit_status'></span>
  <div class='label_status'></div>
<% end %>




<% end %>

<script type="text/javascript">
  
function submitForm(form){
  form.find('input[type=submit]').trigger('click')
  setTooltipStatus(form)
}

function setTooltipStatus(form){
  var span  = form.find('span.submit_status')
  span.html('<i class="fa fa-check fa-fw"></i> Zapisano zmiany')
}

function setSpinnerStatus(form){
  var span = form.find('span.submit_status')
  span.html('<i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Zapisywanie zmian')
}
var delay = (function(){
  var timer = 0;
  return function(callback, ms){
    clearTimeout (timer);
    timer = setTimeout(callback, ms);
  };
})();

var form = $('.form-inline')
console.log('action: ' + form.attr('action'))

form.find('input').on('keyup', function(d){
  setSpinnerStatus  ($(d.target).parents('form'))
  delay(function(){
    console.log($(d.target).val())
    submitForm($(d.target).parents('form'))
    setTooltipStatus($(d.target).parents('form'))
  }, 350 );
})

</script>

<%= link_to 'Show', @recipe %> |
<%= link_to 'Back', recipes_path %>

