<p id="notice"><%= notice %></p>

<style>
.money-gold::after {
    content: "g";
    color: #DDB100;
}
.money-silver::after {
    content: "s";
    color: #bbb;
}

</style>

<%= link_to 'New Recipe', new_recipe_path, class: 'btn btn-primary' %>

<% if @recipes %>
  <% @recipes.distinct.order(:tag).pluck(:tag).each do |tag| %>
    <h2> <%= tag %> </h2>
    <div class='row'>
      <% @recipes.where(tag: tag).each do |recipe| %>
        <div class='col-md-3' style="background-color: #ddd; border-radius: 5px; width: 400px; margin: 5px;">
          <h3>
            <%= link_to recipe.name, edit_recipe_path(recipe) %>
            (<%= recipe.id %>)
            <%#= link_to 'X', recipe_path(recipe), method: :delete, 
              class: 'btn btn-danger btn-xs', 
              data: { confirm: "Are you sure?" } %>
          </h3>
          <%= render 'recipe_items', ingredients: recipe.ingredients, recipe: recipe, item: recipe.item %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
<br>

<script>

  $.each(<%=@recipes.map{|q| [q.item.id] + q.ingredients.map{|q| q.item.id}}.flatten.uniq %>, function(_, id){
    get_item_data(id);
  })

  function get_item_data(item_id){
    $.ajax({
      url         : 'items/' + item_id + '/item_auctions_data?timestamp_id=' + '<%=@t_id%>',
      type        : "get", //typ połączenia
      contentType : 'application/json', //gdy wysyłamy dane czasami chcemy ustawić ich typ
      dataType    : 'json', //typ danych jakich oczekujemy w odpowiedzi
    }).done(function(response) {
      $('.auctions-pending-' + item_id).text(response.auctions)
      $('.price-gold-pending-' + item_id).text(response.lowest_price.gold)
      $('.price-silver-pending-' + item_id).text(response.lowest_price.silver)
      $('.updated-at-pending-' + item_id).text(response.updated_at)
      count_prices()
    })
  }

  function count_prices(){
    for ( id of <%= @recipes.map{|q| q.id} %> ){
      sumg = 0
      sums = 0
      g = 0
      s = 0
      mul = 0
      s_g = 0
      $('.ingredients-table-' + id).each(function(i){
        $(this).find('tr').each(function(tr){
          g = $(this).find('td.price span.money-gold').text()
          s = $(this).find('td.price span.money-silver').text()
          mul = $(this).find('td.count').text()
          console.log(g)
          smul = parseInt(s) * parseInt(mul)
          s_g = parseInt(smul / 100)
          $(this).find('td.price-mul span.money-silver').text(parseInt(s) * parseInt(mul) - s_g*100)
          $(this).find('td.price-mul span.money-gold').text(parseInt(g) * parseInt(mul) + s_g)
        })
        $(this).find('tr.prices td.price-mul span.money-gold').each(function(gold){
          g = $(this).text()
          sumg += parseInt(g)
        })
        $(this).find('tr.prices td.price-mul span.money-silver').each(function(gold){
          s = $(this).text()
          sums += parseInt(s)
        })
        $(this).find('tr.sum td span.money-gold').each(function(gold){
          s_g = parseInt(sums / 100)
          sumg = sumg + s_g
          $(this).text(sumg)
        })
        $(this).find('tr.sum td span.money-silver').each(function(gold){
          sums = sums - s_g*100
          $(this).text(sums)
        })

        itemg = $(this).find('tr.item td span.money-gold').text()
        items = $(this).find('tr.item td span.money-silver').text()
        if (parseInt(itemg) - sumg <= 0){
          s_g = 
          $(this).find('tr.result td span.money-gold').text(parseInt(itemg) - sumg).css('color', 'red')
          $(this).find('tr.result td span.money-silver').text(Math.abs(parseInt(items) - sums)).css('color', 'red')
          $(this).parent('div').css('background-color', '#fbb')
        }
        else {
          $(this).find('tr.result td span.money-gold').text(parseInt(itemg) - sumg).css('color', 'green')
          $(this).find('tr.result td span.money-silver').text(Math.abs(parseInt(items) - sums)).css('color', 'green')
          $(this).parent('div').css('background-color', '#bfb')


        }
      })
    }
  }
</script>
