<p id="notice"><%= notice %></p>

<h1>Auctions</h1>
<style>
.money-gold::after {
    content: "g";
    color: #DDB100;
}
.money-silver::after {
    content: "s";
    color: #bbb;
}

</style>

<%= bootstrap_form_for(Auction.new, url: auctions_path, method: :get, layout: :inline) do |f|%>
  <%= f.text_field :owner, hide_label: true, placeholder: 'Auction owner...', value: @last_search %>
  <%= f.submit 'Search', class: 'btn btn-primary' %>
<% end %>
<small> <%= @auctions.count %> results </small>

<%= paginate @auctions, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm"%>
<table class='table table-sm table-striped table-hover'>
  <thead>
    <tr>
      <th>Owner</th>
      <th>Item</th>
      <th>quantity</th>
      <th>buyout</th>
      <th>time left</th>
      <th>updated ago
    </tr>
  </thead>

  <tbody>

    <% @auctions.each do |auction| %>
      <tr>

        <td><%= auction.owner %>
        <td>
          <%= link_to item_path(Item.where(item_id: auction.item).first.id) do %>
            <img src="https://wow.zamimg.com/images/wow/icons/small/<%=Item.where(item_id: auction.item).first.icon%>.jpg">
            <%= Item.where(item_id: auction.item).first.name %>
          <% end %>
        <td><%= auction.quantity %>
        <td>
          <span class='money-gold'><%= separated_price(auction.buyout)[:gold] %></span>, 
          <span class='money-silver'><%= separated_price(auction.buyout)[:silver] %></span>
        <td><%= auction.timeLeft %>
        <td><%=time_ago_in_words auction.updated_at%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Auction', new_auction_path %>
