// Basic Colors
$navy: #1ab394;       // Primary color
$dark-gray: #c2c2c2;  // Default color
$blue: #1c84c6;       // Success color
$lazur: #23c6c8;      // Info color
$yellow: #f8ac59;     // Warning color
$red: #ED5565;        // Danger color

// Various colors
$text-color: #676a6c;   // Body text
$gray: #f3f3f4;         // Background wrapper color
$light-gray: #D1DADE;   // Default label, badge
$label-badge-color: #5E5E5E;
$light-blue:#f3f6fb;

// Spinner color and margin
$spin-color: $navy;
$spin-margin: 0 auto;


// IBOX colors ( default panel colors)
$border-color: #e7eaec;     // IBox border
$ibox-title-bg:#ffffff;     // IBox Background header
$ibox-content-bg:#ffffff;   // IBox Background content

//Sidebar width
$sidebar-width: 220px;

// Boxed layout width
$boxed-width: 1200px;
$boxed-background: image-url('patterns/shattered.png');

//Border radius for buttons
$btn-border-radius: 3px;

//Navigation
$nav-bg: #2F4050;
$nav-profile-pattern: image-url("patterns/header-profile.png");
$nav-text-color: #a7b1c2;

/*
 * metismenu - v2.0.2
 * A jQuery menu plugin
 * https://github.com/onokumus/metisMenu
 *
 * Made by Osman Nuri Okumus
 * Under MIT License
 */

.metismenu .plus-minus, .metismenu .plus-times {
  float: right
}

.metismenu .arrow {
  float: right;
  line-height: 1.42857
}

.metismenu .glyphicon.arrow:before {
  content: "\e079"
}

.metismenu .active > a > .glyphicon.arrow:before {
  content: "\e114"
}

.metismenu .fa.arrow:before {
  content: "\f104"
}

.metismenu .active > a > .fa.arrow:before {
  content: "\f107"
}

.metismenu .ion.arrow:before {
  content: "\f3d2"
}

.metismenu .active > a > .ion.arrow:before {
  content: "\f3d0"
}

.metismenu .fa.plus-minus:before, .metismenu .fa.plus-times:before {
  content: "\f067"
}

.metismenu .active > a > .fa.plus-times {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.metismenu .active > a > .fa.plus-minus:before {
  content: "\f068"
}

.metismenu .collapse {
  display: none
}

.metismenu .collapse.in {
  display: block
}

.metismenu .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility
}

.mini-navbar {
  .metismenu .collapse { opacity: 0; }
  .metismenu .collapse.in { opacity: 1; }
  .metismenu .collapse a { display: none }
  .metismenu .collapse.in a { display: block }
}
