
<img src="https://wow.zamimg.com/images/wow/icons/small/<%=item.icon%>.jpg"> 
<%= link_to item.name, item %> 
<span class='price-gold-pending-<%=item.id%> money-gold'><i class="fa fa-spinner fa-spin"></i></span>, 
<span class='price-silver-pending-<%=item.id%> money-silver'></span>