<p id="notice"><%= notice %></p>

<h1>Items</h1>
<style>
.money-gold::after {
    content: "g";
    color: #DDB100;
}
.money-silver::after {
    content: "s";
    color: #bbb;
}

</style>
<%= bootstrap_form_for(Item.new, url: items_path, method: :get, layout: :inline) do |f|%>
  <%= f.text_field :name, hide_label: true, placeholder: 'Item name...', value: @last_search %>
  <%= f.submit 'Search', class: 'btn btn-primary' %>
<% end %>
<small> <%= @items.count %> results </small>

<%= paginate @items, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm"%>
<table class='table table-sm table-striped table-hover'>
  <thead>
    <tr>
      <th style="width: 4%">item_id
      <th style="width: 5%">ilvl
      <th style="width: 50%">Item
      <th>auctions count
      <th>items count
      <th>lowest price
      <th>mean price of first 10% of items
      <th>updated ago
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.item_id %>
        <td><%= item.itemLevel %>
        <td><img src="https://wow.zamimg.com/images/wow/icons/small/<%=item.icon%>.jpg"> <%= link_to item.name, item %>
        <td><span id='auctions-pending-<%=item.id%>'><i class="fa fa-spinner fa-spin"></i></span><%#= item.auction_count %>
        <td><span id='items-pending-<%=item.id%>'><i class="fa fa-spinner fa-spin"></i></span><%#= item.auction_count %>
        <td>
          <span id='price-gold-pending-<%=item.id%>' class='money-gold'><i class="fa fa-spinner fa-spin"></i></span>, 
          <span id='price-silver-pending-<%=item.id%>' class='money-silver'></span>
        <td>
          <span id='price-gold-mean-pending-<%=item.id%>' class='money-gold'><i class="fa fa-spinner fa-spin"></i></span>, 
          <span id='price-silver-mean-pending-<%=item.id%>' class='money-silver'></span>
        <td><span id='updated-at-pending-<%=item.id%>'><i class="fa fa-spinner fa-spin"></i></span></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Auction', new_auction_path %>

<script>

  $.each(<%=@items.map{|q| q.id} %>, function(_, id){
    get_item_data(id);
  })

  function get_item_data(item_id){
    $.ajax({
      url         : 'items/' + item_id + '/item_auctions_data?timestamp_id=' + '<%=@t_id%>',
      type        : "get", //typ połączenia
      contentType : 'application/json', //gdy wysyłamy dane czasami chcemy ustawić ich typ
      dataType    : 'json', //typ danych jakich oczekujemy w odpowiedzi
    }).done(function(response) {
      $('#auctions-pending-' + item_id).text(response.auction_count)
      $('#items-pending-' + item_id).text(response.item_count)
      $('#price-gold-pending-' + item_id).text(response.lowest_price.gold)
      $('#price-silver-pending-' + item_id).text(response.lowest_price.silver)
      $('#price-gold-mean-pending-' + item_id).text(response.mean_price.gold)
      $('#price-silver-mean-pending-' + item_id).text(response.mean_price.silver)
      $('#updated-at-pending-' + item_id).text(response.updated_at)
    })
  }

</script>