<p id="notice"><%= notice %></p>

<style>
.money-gold::after {
    content: "g";
    color: #DDB100;
}
.money-silver::after {
    content: "s";
    color: #bbb;
}

</style>

<%= link_to 'Back', :back, class: 'btn btn-default' %>

<h1> <%= @item.name %></h1>
<small>updated <%=time_ago_in_words @item.auctions(@t_id).first.updated_at rescue '---' %> ago</small><br>
<img src="https://wow.zamimg.com/images/wow/icons/large/<%= @item.icon %>.jpg">

<table class='table table-sm table-striped table-hover'>

  <tbody>
    <tr>
      <th>owner
      <th>quantity
      <th>buyout per 1
      <th>buyout

    <% if @auctions %>
      <% @auctions.sort!{|a, b| a[:auction][:buyout_per_unit] <=> b[:auction][:buyout_per_unit]}.each do |auction| %>
        <tr>
          <td><%= auction[:auction][:owner] %>
          <td><%= auction[:count] %> x <%= auction[:auction][:quantity] %>
          <td>
            <span class='money-gold'><%= separated_price(auction[:auction][:buyout_per_unit])[:gold] %></span>, 
            <span class='money-silver'><%= separated_price(auction[:auction][:buyout_per_unit])[:silver] %></span>
          <td>
            <span class='money-gold'><%= separated_price(auction[:auction][:buyout])[:gold] %></span>, 
            <span class='money-silver'><%= separated_price(auction[:auction][:buyout])[:silver] %></span>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
