<div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
            <a href="#" class="navbar-brand">AuctionWatcher</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li>
                    <%= link_to 'Item list', items_path %>
                </li>
                <li>
                    <%= link_to 'Auction list', auctions_path %>
                </li>
                <li>
                    <%= link_to 'Recipe list', recipes_path %>
                </li>
            </ul>
            <ul class="nav navbar-top-links navbar-right">
                <li>

                        <em style='font-size: 10px; float: right;'>
                            <table>
                                <tr>
                                    <td style='padding: 3px;'>feed: 
                                    <td style='padding: 3px;'><%=time_ago_in_words Timestamp.order(:created_at).last.timestamp%> ago 
                                    <td style='padding: 3px;'>timestamp:
                                    <td style='padding: 3px;'><%= Timestamp.order(:created_at).last.id %>
                                <tr>
                                    <td style='padding: 3px;'>system:
                                    <td style='padding: 3px;'><%=time_ago_in_words Timestamp.order(:updated_at).last.updated_at%> ago
                                    <td style='padding: 3px;'>Jobs:
                                    <td style='padding: 3px;'><%= queue_size %>

                            </table>
                        </em>
                </li>
            </ul>
        </div>
    </nav>
</div>
